
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}

.hidden {
  display: none !important;
}

body,
.pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
  font-family: 'Open Sans';
  margin: 10px; 
}
body {font-size:75%;}
table {font-size:1em;}

.pure-menu li a { padding-right: 30px; cursor: pointer !important;}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: white;
}

.dark .pure-menu.pure-menu-open,
.dark .pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: rgb(36, 36, 36);
}

.pure-menu-heading {
  font-weight: bold;
  border-bottom: none !important;
  text-transform: none !important;
  cursor: default !important;
  background: white !important;
}

.dark .pure-menu-heading {
  background: rgb(36, 36, 36) !important;
}

.pure-u-2-5 {margin-top: 3px !important;}

.pure-menu .pure-menu-heading { margin-top: 0px !important;}

li.submenu { overflow:hidden;}

a.newpage {padding-top: 0; padding-bottom: 0; padding-left: 24px !important;}
a.currentpage {font-weight: bolder;}

.pure-menu a.a-selected {color: rgba(0,0,0,.7);}

.project-description {font-size: 75%; font-style:italic; padding-left: 30px; padding-right: 30px; opacity:0.5;}

li.submenu-hidden hr { margin: 0;}
li.submenu-hidden.eventbreak {border:0; -webkit-transition: none !important; transition: none !important;}

ul li table {margin-left: 30px;}
ul li table td {padding-right: 30px;}

.pure-menu-open>ul {border: 1px blue !important; overflow:hidden;}
.pure-menu-open>ul>a.newpage {padding-left: 20px !important;}

.pure-menu { margin: 20px; box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);}

li.eventbreak { border-bottom:1px dashed lightgrey;  -webkit-transition: none !important; transition: none !important; }

.pure-menu.pure-menu-open {
width: auto !important;
}

.pure-menu-open ul {
left: 0;
top: 0;
visibility: visible !important;
}

.pure-menu ul {position:static !important;}

td.utm, td.dlt {vertical-align:top !important;}

li.newpage:not(.options):after,
td>span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  pointer-events: none;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.0) 0%,rgba(255, 255, 255, 1) 100%);
}

.dark li.newpage:not(.options):after,
.dark td>span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  pointer-events: none;
  background: -webkit-linear-gradient(left, rgba(36,36,36,0.0) 75%,rgba(36, 36, 36, 1) 100%);
}

li.newpage:before{
  position: absolute;
  top: 0;
  left: 0;
  padding-top:5px;
  padding-left:5px;
  height: 100%;
  pointer-events: none;
} 

li.newpage.hasGTM:before{
  content: url('/img/gtm.png');
}

li.newpage.hasTLM:before{
  content: url('/img/tlm.png');
}

li.newpage.hasTCO:before{
  content: url('/img/tco.png');
}

li.newpage.hasDTM:before{
  content: url('/img/dtm.png');
}

li.newpage.hasMULTI:before{
  content: url('/img/multi.png');
}

li.newpage.hasVAR:before{
  content: '\2713';
  color: rgba(0, 128, 0, 0.5);
}

li.newpage.noGTM:before{
  content: url('/img/none.png');
}

li.newpage.seeking:before{
  content:url('/img/loader.gif');
  padding-top:6px;
  padding-left:2px;
  color: white;
}

.pure-menu a, .pure-menu .pure-menu-heading {line-height: normal !important;}

/*li.event tr>td:first-child {text-align: right;}*/
li td {overflow: hidden; white-space: nowrap; vertical-align: top;}

.pure-menu>table {table-layout: fixed;}

.allparams {
  font-size:75%;
  display: table-row;
}

.event td a {display: inline;}

button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  display: inline-block;
  border: none;
  background: rgba(0,0,0,0);
  position: fixed;
  right: 6px;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
  padding: 0;
}
button:hover {
  opacity: 1;
}
button.settings {
  top:25px;
}
button.clearbtn {
  top:50px;
}
button.filebtn {
  top:75px;
}
button.searchbtn {
  top:100px;
}
a.helpbtn img {position: fixed; top:125px; right: 6px; opacity: 0.3; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; cursor: pointer;}
a.helpbtn img:hover {opacity: 1;}

a.toggle { padding: 0px 5px !important;}

a.currentpage.newpage.options {cursor: default !important;}
li.options { background: #eee;}

label.pure-checkbox {
  cursor: pointer;
  margin-bottom: 0 !important;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#clearconfirm {
  display: none;
  width:50%;
  background: white;
  border: 1px black;
  padding:30px;
  height:100px;
  text-align: center;
}
.dark #clearconfirm {
  background: rgb(36, 36, 36);
  color: rgb(213, 213, 213);
}

li.newpage {border-bottom: 1px solid lightgrey;}

#datalayeritems>.pure-menu tr ul {
  overflow-y: hidden;
}

.clicked-closed>table>tbody ul {
  display: none;
}

/*.object-row em{
  all: initial;
  position: absolute;
  left: 1em;
  font-style: normal;
}*/

.object-row em a{
  position: absolute;
  left: 1em;
  font-style: normal;
  padding: 0px !important;
}
.object-row em a:hover,.object-row em a:focus{
  cursor: pointer;
  position: absolute;
  left: 1em;
  font-style: normal;
  padding: 0px;
  background: none;
}

select {
  font-family: 'Open Sans' !important;
  border: 0;
}


.pure-menu.containsTAG > table > tbody > tr > td.utm{
  border-left:none;
}

.pure-menu.containsGTM > table > tbody > tr > td.dlt{
  border-right:none;
}

td.dlt{
  width:0;
}

td.utm{
  width:0;
}

.pure-menu.containsGTM > table > tbody > tr > td.dlt{
  width: auto;
}

.pure-menu.containsTAG > table > tbody > tr > td.utm{
  width: auto;
}

.pure-menu > table > tbody > tr > td.dlt + td.utm {
  border-left: 1px dashed rgb(112, 111, 111);
}

/*
.pure-menu.containsGTM.containsTAG > table > tbody > tr > td.dlt{
  border-right: 1px dashed rgb(112, 111, 111);
}
.pure-menu.containsGTM.containsTAG > table > tbody > tr > td.utm{
  border-left: 1px dashed rgb(112, 111, 111);
}
*/

.event.submenu>table {
margin-bottom: 3px;
margin-top: 3px;
}

span.arrayIndex{
    position: absolute;
    /*top: 50%;*/
    left:2px;
    line-height: 14px;
    margin-top: 6px;
    color: #B1B1B1;
}

/*li.event tr td:nth-child(2):hover{
  white-space:normal;
}
*/

.dark .pure-menu-open table {
  color: rgb(213, 213, 213);
} 

.dark {
  background-color: rgb(36, 36, 36);
}

.dark .pure-menu li a:hover, .dark .pure-menu li a:focus {
  background-color: rgb(72, 72, 72);
  color: white;
}

.dark a.currentpage {
  font-weight: normal;
  color: rgb(232, 232, 232);
}

.dark select {
  border: 1px solid rgb(213, 213, 213);
  color: rgb(213, 213, 213);
  background: rgb(36, 36, 36);
}